/*表头颜色*/
.ivu-table th {
  background-color: #44444473;
  color: #fff;
  border: none;
  border-right: 1px solid #f3f3f3;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}
.ivu-select-selection,
.ivu-input {
  border-color: #b2b4b7;
}
